.backdrop {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
}

.error-dialog {
  top: 10vh;
  padding: 2rem;
  z-index: 1001;
  border-radius: 8px;
}
